- if Time.now.year - 18 >= @year.to_i
  %p #{@name} you have access
  %img{:src => "http://www.besalinas.com/wp-content/uploads/2016/02/Te-dejo-pasar...-300x197.jpg"}
- else
  %p #{@name} you cannot access
  %img{:src => "https://cdn.meme.am/instances/500x/45799974.jpg"}