- if Time.now.year - @year.to_i >= 18
  %p #{@name} you can access
  %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "269", :src => "//giphy.com/embed/irRvb9I4XCJQQ", :width => "480"}
- else
  %p #{@name} you can´t access
  %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "270", :src => "//giphy.com/embed/xTiTnIPc8OqruiUxBC", :width => "480"}