/ views/index.haml
<!doctype html>
%html
  %head     
    %title Welcome back!
  %body
    %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "260", :src => "//giphy.com/embed/UTuy9luZStALS", :width => "480"}
    %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "260", :src => "//giphy.com/embed/KQKSCZV4ZSLAI", :width => "480"}
    %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "260", :src => "//giphy.com/embed/bdPCt8tqtTBXa", :width => "480"}
